*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    background-color: brown;
    margin: -8px;
    padding: 18px 25px;
}
.logo{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.container{
    display: flex; 
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: stretch;
}
li > a{
    margin-right: 20px;
    font-size: 20px;
    color: white;
}
li > a:hover{
    text-decoration: none;
}