<h1>
  Welcome!!!
</h1>

<p> You've clicked <button (click)="countClick()">this</button> {{ clickCounter }} times.</p>

<div class="play-container" [ngStyle]="{
  'background-color': clickCounter > 4 ? 'brown' : 'white',
  'border': clickCounter > 4 ? '1px solid black' : '1px solid lightgray'
}">
  <ng-template [ngIf]="clickCounter > 3" [ngIfElse]="none">
    <p>The click counter<strong> Is Greater </strong>than 3.</p>
  </ng-template>

  <ng-template #none>
    <p>The click counter <strong>Is Lesser</strong> than 3.</p>
  </ng-template>

  <div class="play-container" [style.display]="clickCounter > 25 ? 'none' : 'block' ">
    <p>I'll disappear if exceeded 25.</p>
</div>
</div>

<p [ngClass]="setClasses()">
  Adding Classes
</p>

<div class="container">
  <input type="text" [(ngModel)] = "name" /> 
  <br/>
  <p class="nextOne">You just typed in "{{ name }}".</p>
</div>

